appdirs==1.4.4
beautifulsoup4==4.9.3
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
contexter==0.1.4
ecdsa==0.16.0
esptool==2.8
Flask==1.1.2
idna==2.8
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==21.5.0
lxml==4.6.1
MarkupSafe==1.1.1
notify-run==0.0.13
poliBeePsync==0.7.2
powerline-status==2.7
pyaes==1.6.1
pycryptodomex==3.9.7
pyparsing==2.4.7
PyQRCode==1.2.1
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyserial==3.4
PySide2==5.15.1
requests==2.22.0
selenium==3.141.0
shiboken2==5.15.1
signalslot==0.1.2
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.11
weakrefmethod==1.0.3
Werkzeug==1.0.1
zipp==3.4.0
