certifi==2020.6.20
chardet==3.0.4
ecdsa==0.16.0
esptool==2.8
idna==2.8
notify-run==0.0.13
powerline-status==2.7
pyaes==1.6.1
pycryptodomex==3.9.7
PyQRCode==1.2.1
pyserial==3.4
requests==2.22.0
selenium==3.141.0
six==1.15.0
urllib3==1.25.11
